

                <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6"​>
                                2017 &copy; Reksmey.
                            </div>
                            <div class="col-xs-6">
                                <ul class="pull-right list-inline m-b-0">
                                    <li>
                                        <a th:href="@{/user}" th:text="#{dashboard}">Dashboard</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/add}" th:text="#{userform}">Add</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/user/userroledata}" th:text="#{userroledata}">User role data</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->