 		<script th:src="@{/resources/admin/assets/js/jquery.min.js}"></script>
        <script th:src="@{/resources/admin/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/resources/admin/assets/js/detect.js}"></script>
        <script th:src="@{/resources/admin/assets/js/fastclick.js}"></script>

        <script th:src="@{/resources/admin/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/resources/admin/assets/js/waves.js}"></script>
        <script th:src="@{/resources/admin/assets/js/wow.min.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.scrollTo.min.js}"></script>
         <script th:src="@{/resources/admin/assets/plugins/jquery-knob/jquery.knob.js}"></script>

        <!--Morris Chart-->
		<script th:src="@{/resources/admin/assets/plugins/morris/morris.min.js}"></script>
		<script th:src="@{/resources/admin/assets/plugins/raphael/raphael-min.js}"></script>

        <!-- Dashboard init -->
        <script th:src="@{/resources/admin/assets/pages/jquery.dashboard.js}"></script>

        <!-- App js -->
        <script th:src="@{/resources/admin/assets/js/jquery.core.js}"></script>
        <script th:src="@{/resources/admin/assets/js/jquery.app.js}"></script>
