		
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" th:href="@{/resources/admin/assets/images/favicon.ico}">


        <!--Morris Chart CSS -->
		<link rel="stylesheet" th:href="@{/resources/admin/assets/plugins/morris/morris.css}">
		<link rel="stylesheet" th:href="@{/resources/admin/assets/css/mycss.css}">
        <link th:href="@{/resources/admin/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/admin/assets/css/core.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/admin/assets/css/components.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/admin/assets/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/admin/assets/css/pages.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/admin/assets/css/menu.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/resources/admin/assets/css/responsive.css}" rel="stylesheet" type="text/css" />
        <script th:src="@{/resources/admin/assets/js/modernizr.min.js}"></script>
   
